/* CSS */
.register {
  background-image: url("../images/background2.webp");
  background-size: 100%;
  background-position: center;
  background-repeat: no-repeat;
}
.register-container {
  margin: auto;
  margin-top: 5%;
  width: 500px;
  padding: 20px;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  text-align: center;
}
.register-input-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

select {
  flex: 1;
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  font-size: 16px;
}

input[type="number"] {
  flex: 1;
  width: 50%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  font-size: 16px;
}

.name {
  margin: auto;
  width: 360px;
  padding: 0px;
  background-color: #fff;
  border-radius: 5px;
  text-align: center;
}
img {
  margin: 0;
  width: 20%;
}
h1 {
  color: #000000;
  font-size: 28px;
  font-weight: 400;
  margin-top: 0;
}
h2 {
  color: #f442d6;
  font-size: 25px;
  font-weight: 300;
  margin-top: 0;
}
input[type="text"],
input[type="password"] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  font-size: 16px;
}
.register-button {
  background-color: #f442d6;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  padding: 12px 20px;
  font-size: 16px;
  margin-left: 32px;
  margin-right: 32px;
  width: 100px;
}
input[type="button"]:hover {
  background-color: #f442d6;
}
p {
  margin-top: 24px;
}
a {
  color: #f442d6;
}
.input-label {
  position: relative;
  background-color: #fff;
  top: 15px;
  font-size: 12px;
  font-weight: bold;
  color: #555;
  width: 130px;
}

.age-label {
  position: relative;
  background-color: #fff;
  top: 15px;
  left: 60px;
  font-size: 12px;
  font-weight: bold;
  color: #555;
  width: 90px;
}
